<div
  class="mb-4 post-dashboard animate__animated animate__fadeInUp card-to-listen"
>
  <span class="post-id" hidden> {{id}} </span>
  <div class="row align-items-center">

    <div class="col-12">

      <div class="row p-4 align-items-center">
        <div class="col-2 col-sm-2 col-lg-2 col-xl-1">
          <div class="post-image-div">
            <img src="{{image_url}}" class="post-image" alt="resource image" />
          </div>
        </div>
        <div
          class="col-10 col-sm-10 col-lg-10 col-xl-11 homepage-post-text d-flex flex-row justify-content-between"
        >
          <div class="text-need-space">
            <h4 class="card-title home-resource-title text-white">{{title}}

            </h4>
            <p class="timestamp purple-timestamp"> {{createdAt}}</p>

            <div class="post-sub pb-2 d-flex justify-content-around">
              <p class="m-0 like-display">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="19"
                  height="19"
                  fill="currentColor"
                  class="bi bi-heart-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"
                  />
                </svg>

                30
              </p>

              <p class="m-0 like-button">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-heart"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"
                  />
                </svg>

              </p>
              <p class="m-0 save-button">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-bookmark-star"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M7.84 4.1a.178.178 0 0 1 .32 0l.634 1.285a.18.18 0 0 0 .134.098l1.42.206c.145.021.204.2.098.303L9.42 6.993a.18.18 0 0 0-.051.158l.242 1.414a.178.178 0 0 1-.258.187l-1.27-.668a.18.18 0 0 0-.165 0l-1.27.668a.178.178 0 0 1-.257-.187l.242-1.414a.18.18 0 0 0-.05-.158l-1.03-1.001a.178.178 0 0 1 .098-.303l1.42-.206a.18.18 0 0 0 .134-.098z"
                  />
                  <path
                    d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"
                  />
                </svg>

              </p>
              <p class="more-detail-text">

                <i
                  class="animate__animated animate__flash animate__delay-2s animate__repeat-2"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="19"
                    height="19"
                    fill="currentColor"
                    class="bi bi-arrow-up-circle-fill"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"
                    />
                  </svg>
                </i>
                click to view detail
              </p>

            </div>
          </div>

        </div>
        <div class="col-12 homepage-post-text p-4">

          <p
            class="card-text text-white home-resource-description"
          >{{description}}.</p>

        </div>
      </div>

    </div>
  </div>

</div>